body {
    background-color: #fff;
  font-family: sans-serif;
}
header{
    background-color: #FFF3F3;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
  }
 
nav{
    padding-left: 1300px;
    padding-top: 25px;
    
}
nav #home{
    border: none;
    font-size: 15px;
    margin-left: 5px;
    background: none;
    font-family: sans-serif;

}
nav #products{
    border: none;
    font-size: 15px;
    margin-left: 5px;
    background: none;
    font-family: sans-serif;

}
nav #checkout{
    border: none;
    font-size: 15px;
    margin-left: 5px;
    background: none;
    font-family: sans-serif;

}
#pic1{
    position: absolute;
    left: 870px;
    top: 150px;
    height: 493px;
    width: 530px;

}
section{
    position: absolute;
    top: 230px;
    left: 170px;
}
#text1{
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
}
#text2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: sans-serif;
}
#btnProducts{
    Border-radius: 5px;
    background-color: #db6400;
    color: #fff;
    border: none;
    padding: 10px;
}
footer{
  background-color: #FFF3F3;
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
}
